@import "./variables.scss";
.accreditation{
    width: 100vw;
    background: $white;
    padding: 40px 0 0 0;

    hr{
        border: 1px solid $orange;
        width: 300px;
        margin: 10px auto;
    }

    h1{
        text-align: center;
        font-family: $roboto;
        font-weight: bold;
        text-transform: capitalize;
        font-size: 30px;
        padding: 10px 0;
    }

    p{
        text-align: center;
        font-family: $roboto;
        text-transform: capitalize;
        font-size: 16px;
    }

    .flags{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 50px;

        .flag{
            margin: 10px 30px;
            img{
                width: 50px;
                height: auto;
                border-radius: 50%;
            }
        }
    }

    .AccredInfo{
        background-image: url("../Assets/Rectangle\ 48.png");
        height: 400px;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 40px 0;

        p{
            font-family: $spartan;
            color: #fff;
            text-transform: capitalize;
            font-size: 28px;
            padding: 15px;
        }

        .AccredButtons{
            width: 100%;
            display: flex;
            justify-content: center;
            button{
                display: flex;
                align-items: center;
                background-color: #fff;
                border: none;
                padding: 10px;
                outline: none;
                font-family: $spartan;
                font-size: 14px;
                font-weight: bold;
                margin-right: 20px;

                img{
                    width: 20px;
                    height: auto;
                    margin-right: 10px;
                }
            }
        }
    }
}