@import "./variables.scss";
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 5px;
    cursor: pointer;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-input-placeholder{
    text-transform: capitalize;
    font-size: 12px;
}
::placeholder{
    text-transform: capitalize;
    font-size: 12px;
}
body{
    width: 100vw;
    height: 100%;
    background-color: $white;
    overflow-x: hidden;
}

li{
    list-style-type: none;
}