@import "./variables.scss";
.navBackground{
    width: 100vw;
    height: 5rem;
    position: sticky;
    top: 0;
    padding: 20px 40px;
    z-index: 10;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include intermediary{
        padding: 20px;
    }

    .navlogo{
        width: 100px;

        img{
            width: 100%;
            height: auto;
        }
    }
    .navbarLinks{
        display: flex;
        width: 60%;
        justify-content: space-between;
        align-items: center;

        @include large{
            width: 70%;
        }
        @include medium{
            display: none;
        }

        .active{
            padding-bottom: 2px;
            border-bottom: 1px solid $paleblue;
            transition: 1s ease-in-out all;
        }
        li, li button{
            font-family: $spartan;
            font-size: 16px;
            font-weight: normal;
            cursor: pointer;

            a{
                color: #000;
                text-decoration: none;
            }
        }
.whatsapp{
    position: fixed;
    bottom: 40px;
    right:40px;
   

    a{
        color: #25d366;
        font-size: 60px;
        cursor: pointer;

        .whasappIcon{
            display: inline-block;
            animation: bounce 0.5s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                -webkit-animation-name: bounce;
                -webkit-animation-duration: 0.5s;
                -webkit-animation-direction: alternate;
                -webkit-animation-timing-function: cubic-bezier(
                .5, 0.05, 1, .5);
                -webkit-animation-iteration-count: infinite;
        }
      
    }
}
    li:hover{
        transform: translateY(-2px);
        transition: .5s ease-in-out all;
    }
        li button{
            padding: 10px;
            border: 2px solid $paleblue;
            border-radius: 5px;
        }
    }
    @keyframes bounce{
        from {
          transform: translate3d(0, 0, 0);
        }
        to{
          transform: translate(3d(0, 200px, 0));
        }
      }

      @-webkit-keyframes bounce {
        from {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        to {
            -webkit-transform: translate3d(0, 200px, 0);
            transform: translate3d(0, 200px, 0);
        }
    }
}
