@import url('https://fonts.googleapis.com/css2?family=Anton&family=League+Spartan:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Teko:wght@300;400;500;600;700&display=swap');

//font
$roboto: 'Roboto', "Times New Roman";
$open-sans: 'Open Sans', "Times New Roman";
$anton: 'Anton', "Times New Roman";
$teko: 'Teko', "Times New Roman";
$times: "Times New Roman";
$spartan: 'League Spartan', sans-serif;

//colors
$white: #f5f5f5;
$paleblue:rgba(0, 146, 242, 1);
$lightblue: rgba(1, 114, 218, 1);
$darkblue: rgba(0, 34, 209, 1);
$purpleblue: rgba(45, 34, 162, 1);
$palepurple: rgba(75, 63, 149, 1);
$lightpurple: rgba(168, 63, 198, 1);
$purple: rgba(217, 26, 192, 1);
$red: rgba(215, 1, 105, 1);
$orange: rgba(236, 34, 59, 1);

$screen-sm: 460px;
$screen-s-md: 580px;
$screen-md: 800px;
$screen-lg: 1000px;
$screen-xl: 1200px;


//breakpoints
@mixin small { 
    @media (max-width: #{$screen-sm}){
        @content;
    }
}

@mixin intermediary { 
    @media (max-width: #{$screen-s-md}){
        @content;
    }
}
@mixin cards { 
    @media (max-width: #{768px}){
        @content;
    }
}


@mixin medium {
    @media (max-width: #{$screen-md}){
        @content;
    }
}
@mixin card {
    @media (max-width: #{900px}){
        @content;
    }
}

@mixin large {
    @media (max-width: #{$screen-lg}){
        @content;
    }
}