@import "../variables.scss";
.contactInfo{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-family: $roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 47px;
        text-align: center;
    }

    p{
        font-family: $spartan;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 180%;
padding-top: 15px;
text-align: center;

    }

    ul{
        list-style-type: square;
        font-family: $spartan;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        

        li{
            list-style-type: square;
            margin: 0 auto 10px;
        }
    }
}