@import "../variables.scss";
.explore{
    padding: 40px;

    @include intermediary{
        padding: 40px 10px;
    }
    h1{
        font-family: $spartan;
        color: $paleblue;
        text-align: center;
        font-size: 24px;
    }

    .course-cont{
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
        justify-content: space-between;

        @include medium {
            flex-direction: column;
        }

        div{
            width: 50%;
            margin: 0 10px;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            
            @include medium {
                width: 100%;
                margin: 10px 0;
            }

            button{
                position: absolute;
                bottom: -15px;
                background-color: #fff;
                color: $paleblue;
                cursor: pointer;
                padding:  10px 15px;
                border: none;
                border-radius: 10px;
                font-family: $spartan;
                box-shadow: 18px 14px 9px rgba(0, 0, 0, 0.01), 10px 8px 8px rgba(0, 0, 0, 0.05), 5px 3px 6px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

                a{
                    color: $paleblue;
                    text-decoration: none;
                }
            }

            p{
                font-family: $spartan;
                color: #fff;
                font-size: 16px;
            }
        }

        .diploma{
            background: url('../../Assets/Rectangle\ 57.png')
        }
        .certificate{
            background: url('../../Assets/Rectangle\ 56.png')
        }
    }
}