@import "../variables.scss";
.goal{
    width: 100vw;
    background: $white;
    padding: 40px;
    @include intermediary{
        padding: 40px 15px;
    }

    hr{
        border: 1px solid $red;
        width: 100px;
        margin: 10px auto;
    }

    h1{
        text-align: center;
        font-family: $roboto;
        font-weight: bold;
        text-transform: capitalize;
        font-size: 30px;
        padding: 10px 0;
        color: $red;

        @include intermediary{
            font-size: 24px; 
        }
    }

    p{
        text-align: center;
        font-family: $spartan;
        font-size: 16px;
        padding: 10px 50px;

        @include intermediary{
            padding: 10px;
            font-size: 14px;
        }


    }
}